<div class='container-fluid'>
  <div class='row'>

    <div class='col-lg-9'>
      <div class='visible-lg'>
        <img src="https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds.jpg">
        <i class="glyphicon glyphicon-heart"></i>
        <i><%= Faker::Number.between(1,1000) %></i>
        <i class="glyphicon glyphicon-bookmark pull-right" style='font-size: 20px'></i>
        <h3><%= link_to Faker::Lorem.words(2).join(' ').capitalize, post_path(:id) %></a></h3>
        <p><%= Faker::Lorem.paragraph(5) %></p>
        <p><%= Faker::Name.name  %></p>
        <p><%= Faker::Date.between(600.days.ago, Date.today) %></p>
        <hr>
      </div>
    </div>

    <div class='col-lg-3'>
      <div class='visible-lg'>
        <h3>Feature Post</h3>
        <p><%= Faker::Lorem.paragraph(20)  %></p>
      </div>
    </div>

    <% @post.each do |p| %>
    <div class='col-lg-4'>
        <img src="https://images.pexels.com/photos/26750/pexels-photo-26750.jpg?w=1260&h=750&auto=compress&cs=tinysrgb">
        <i class="glyphicon glyphicon-heart"></i>
        <i><%= Faker::Number.between(1,1000) %></i>

        <i class="glyphicon glyphicon-bookmark pull-right"></i>
        <div class="post">
          <h3><%= link_to p.title, post_path(p) %></h3>
          <p><%= p.body %></p>
          <p><%= Faker::Name.name  %></p>
          <p><%= Faker::Date.between(600.days.ago, Date.today) %></p>

        </div>
        <hr>
    </div>
    <% end %>
  </div>
</div>
