<div class='container-fluid'>
  <div class='row'>

    <div class='col-lg-12'>
      <div class='visible-lg'>
        <h2><%= @post.title.capitalize %></h2>
        <% if user_signed_in? && can?(:like, @post) %>
          <% if @post.liked_by?(current_user) %>
            <%= link_to like_path(@post.like_for(current_user)), method: :delete do%>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(@post), method: :post do%>
              <i class="glyphicon glyphicon-thumbs-up"></i>
            <% end %>
          <% end %>
        <% else %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
        <% end %>
        <%= pluralize @post.likes.count, '' %>
        <i class="glyphicon glyphicon-bookmark pull-right"></i>
        <img id='pic' src="https://images.pexels.com/photos/26750/pexels-photo-26750.jpg?w=1260&h=750&auto=compress&cs=tinysrgb">
        <p><%= @post.body %></p>
        <span>Category: <%= @post.category.name %></span>
        <span class='pull-right'><%= Faker::Date.between(600.days.ago, Date.today) %></span>
        <br><br>
        <div class='pull-right' style='font-size: 20px'>
            <%= link_to 'Edit', edit_post_path(@post) %> |
            <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <br>
        <hr>
      </div>
    </div>

    <div class='col-xs-12'>
      <div class='hidden-lg'>
        <h2><%= @post.title.capitalize %></h2>
        <img src="https://cdn.thinglink.me/api/image/727110550026190849/1240/10/scaletowidth">
        <p><%= @post.body %></p>
        <div class='col-xs-12'>
          <p class='pull-right'><%= Faker::Date.between(600.days.ago, Date.today) %></p>
        </div>
        <% if user_signed_in? && can?(:like, @post) %>
          <% if @post.liked_by?(current_user) %>
            <%= link_to like_path(@post.like_for(current_user)), method: :delete do%>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(@post), method: :post do%>
              <i class="glyphicon glyphicon-thumbs-up"></i>
            <% end %>
          <% end %>
        <% end %>
        <%= pluralize @post.likes.count, '' %>
        <i class="glyphicon glyphicon-bookmark pull-right"></i>
        <p>Category: <%= @post.category.name %></p>
        <div class='pull-right' style='font-size: 20px'>
            <%= link_to 'Edit', edit_post_path(@post) %> |
            <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <br>
        <hr>
      </div>
    </div>

    <div class='col-xs-6 col-xs-offset-3'>
      <div class='visible-lg'>
        <div class='row'>
          <div class='col-xs-3'>
            <img src="https://s3.amazonaws.com/cms-uploads.adoptapet.com/e/4/d/5.png" style='width:160px; height:180px'>
          </div>

          <div class='col-xs-9'>
            <br>
            <p><%= @post.user.full_name %></p>
            <p><%= Faker::Lorem.paragraph(8) %></p>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12'>
            <div>
              <%= form_for [@post, @comment] do |c| %>
                <div>
                  <h4>Leave a comment</h4>
                  <%= c.text_area :body, cols: "90", rows: "8" %>
                  <br>
                </div>
                <div>
                  <%= c.submit 'Submit' %>
                </div>
              <% end %>
            </div>
            <hr>
          </div>

        </div>

      </div>
    </div>

    <div class='col-xs-12'>
      <div class='hidden-lg'>
        <div class="row">
          <div class='col-xs-3'>
            <img src="https://s3.amazonaws.com/cms-uploads.adoptapet.com/e/4/d/5.png">
          </div>

          <div class='col-xs-9'>
            <p><%= @post.user.full_name %></p>
            <p><%= Faker::Lorem.paragraph(3) %></p>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <%= form_for [@post, @comment], method: :post do |c| %>
              <div>
                <h4>Leave a comment</h4>
                <%= c.text_area :body, cols: "50", rows: "8" %>
                <br>
              </div>
              <div>
                <%= c.submit 'Submit' %>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
      </div>
    </div>


    <% @post.comments.order(created_at: :desc).each do |c| %>
    <div class='col-xs-6 col-xs-offset-3'>

      <div class='visible-lg'>
        <div class='col-xs-3'>
          <img src="https://img.clipartfest.com/6fb758d2f32b5bd391f9bda65c5ab08c_small-animal-cottonwood-small-dog-group-clipart-png_537-800.png" style="width:120px; height:150px">
        </div>
        <div class='col-xs-9'>
          <p><%= c.body %></p>
        </div>

        <div class="col-xs-12" style="padding-right: 0">
          <br>
          <span><%= c.user.full_name %></span>
          <span class="pull-right"><%= Faker::Date.between(600.days.ago, Date.today) %></span>
          <br>
        </div>

        <div class='pull-right' style='font-size: 15px'>
            <%= link_to 'Delete', comment_path(c), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
    <% end %>


    <% @post.comments.order(created_at: :desc).each do |c| %>
    <div class='col-xs-12'>
      <div class='hidden-lg'>
      <div class='col-xs-3'>
        <img src="https://img.clipartfest.com/6fb758d2f32b5bd391f9bda65c5ab08c_small-animal-cottonwood-small-dog-group-clipart-png_537-800.png">
      </div>
      <div class='col-xs-9'>
        <p><%= c.body %></p>
      </div>

      <div class="col-xs-12" style="padding-right: 0">
        <br>
        <span><%= c.user.full_name %></span>
        <span class="pull-right"><%= Faker::Date.between(600.days.ago, Date.today) %></span>
        <br>
      </div>

      <div class='pull-right' style='font-size: 15px'>
          <%= link_to 'Delete', comment_path(c), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>

    </div>
    <% end %>

    <div class='col-xs-12'>
        <div class='comment'>
            <a href="">More Comments</a>
            <br><br>
        </div>
    </div>

  </div>

</div>
